.bold {
  font-weight: bold;
  color: #457a52;
}

.addEmployeeBox {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;

  .btn-outline-primary {
    color: #457a52;
    border: 1px solid #457a52;
    align-content: center;
  }
  .btn-outline-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: #ffffff !important;
    background-color: #457a52 !important;
  }
  .btn-outline-primary.active {
    color: #aaaaaa !important;
    background-color: #2f5437 !important;
  }

  .material-icons {
    padding: 0 0 4px 8px;
  }

}

$primary-color: #457a52;
.primary-color {
  background-color: #457a52!important;
}

$primary-color-dark: #2f5437;
.primary-color-dark {
  background-color: #2f5437!important;
}

.headerForEmployeeCard {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #457a52;
  div {
    color: #457a52;
    font-weight: bold;
  }
  .employeeIcon {
    width: 40px;
  }
  .employeeName {
    width: 310px;
  }
  .employeeInsurance {
    width: 80px;
  }
  .employeePay {
    width: 100px;
  }
  .employeeBenefits {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }
  .employeeEdit {
    width: 72px;
    padding-left: 32px;
  }
}

.employeeInfoDataRow {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #457a52;

  .employeeCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .material-icons {
      color: #457a52;
    }

    div {
      color: black;
      padding: 8px 4px 8px 4px;
    }
    .employeeIcon {
      width: 40px;
    }
    .employeeName {
      width: 310px;
    }
    .employeeInsurance {
      width: 80px;
    }
    .employeePay {
      width: 100px;
    }
    .employeeBenefits {
      display: flex;
      flex-grow: 1;
      justify-content: flex-end;
    }
    .employeeEdit {
      width: 72px;
      padding-left: 32px;
    }
  }
  .employeeCard:hover {
    background-color: #d7e2da;
  }

  .dependentsCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    div {
      color: black;
      padding: 4px 4px 4px 4px;
      border: 0px solid #888888;
    }
    .employeeIcon {
      width: 40px;
    }
    .employeeName {
      width: 310px;
    }
    .employeeInsurance {
      width: 80px;
    }
    .employeePay {
      width: 100px;
    }
    .employeeBenefits {
      display: flex;
      flex-grow: 1;
      justify-content: flex-end;
    }
    .employeeEdit {
      width: 72px;
      padding-left: 32px;
    }
  }
  .dependentsCard:hover {
    background-color: #eeeeee;
  }
}
.employeeInfoDataRow:hover {
  background-color: #d7e2da;
}
