<h2>Employee Listings</h2>

<p>Tempor commodo ullamcorper a lacus vestibulum sed arcu non. At erat pellentesque adipiscing commodo elit at imperdiet dui accumsan.</p>

<p>Healthcare provided by <span class="bold">{{appSettings.insuranceName}}</span></p>

<p class="addEmployeeBox bold"> <button mat-button type="button" class="btn btn-outline-primary"> Add New Employee
  <span class="material-icons"> person_add </span></button> </p>

<div>
  <table mat-table [dataSource]="employeeList">
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: displayedColumns"></tr>
    <ng-container matColumnDef="icon">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let empl"> <span class="material-icons"> person </span> </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let empl"> {{empl.firstName}} {{empl.lastName}} </td>
    </ng-container>
    <ng-container matColumnDef="insured">
      <th mat-header-cell *matHeaderCellDef> Insured </th>
      <td mat-cell *matCellDef="let empl"> {{empl.insured}} </td>
    </ng-container>
    <ng-container matColumnDef="payRate">
      <th mat-header-cell *matHeaderCellDef> Pay Rate </th>
      <td mat-cell *matCellDef="let empl"> {{(empl.payRate * 26) | currency}} </td>
    </ng-container>
    <ng-container matColumnDef="benefitCost">
      <th mat-header-cell *matHeaderCellDef> Benefit Cost </th>
      <td mat-cell *matCellDef="let empl"> {{calculateEmployeeBenefitCost(empl) | currency}}  </td>
    </ng-container>
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> Edit </th>
      <td mat-cell *matCellDef="let empl"> <span class="material-icons"> edit </span> </td>
    </ng-container>
  </table>
</div>
